<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Pneumonia Detector</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
</head>

<body>
    <header class="masthead text-white text-center" style="background-size: cover;background-image: url('static/img/Rectangle_1.png');">
        <div class="overlay" style="opacity: 0.85;"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h1 class="mb-5">Pneumonia Detector</h1>
                    <p>Website untuk mendeteksi dan menganalisis penyakit <em>Pneumonia</em> bedasarkan gambar X-Ray</p>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                    <form action="/" method="POST" enctype="multipart/form-data">
                        <div class="input-group">
                            <input type="file" class="form-control" id="img" name="img" aria-describedby="img-form" aria-label="Choose file">
                            <button class="btn btn-primary" type="submit" id="img-form">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <header class="masthead text-white text-center" style="background-size: cover;background-image: url('static/img/pneumonia2_1.png');padding: 40px; {{predict}}">
        <div class="overlay" style="opacity: 0.85;"></div>
        <div class="container" style="filter: blur(0px);">
            <h1>Hasil</h1>
            <div class="row">
                <div class="col">
                    <p class="text-left">Diagnosa : {{predict_result}}</p>
                    <p class="text-left">Akurasi : {{predict_per}} %</p>
                </div>
                <div class="col"><img onerror="this.style.display = 'none'" src="{{ url_for('static', filename=image) }}"  alt="Uploaded Image" width="400" height="400"></div>
            </div>
        </div>
    </header>
    <header class="masthead text-white text-center" style="background-size: cover;background-image: url('static/img/pneumonia3_1.png');padding: 40px;padding-bottom: 122px;">
        <div class="overlay" style="opacity: 0.85;"></div>
        <div class="container" style="filter: blur(0px);">
            <h1>Pencegahan</h1>
            <div class="row">
                <div class="col">
                    <p class="text-left">1. Konsumsi makanan sehat dengan memperbanyak buah-buahan dan sayuran.<br>2. Berolahraga secara rutin.<br>3. Tidur yang cukup.<br>4. Berhenti merokok.<br>5. Jaga jarak dengan orang yang sedang sakit, bila memungkinkan.<br>6. Vaksinasi.</p>
                </div>
            </div>
        </div>
    </header>
    <footer class="footer bg-light" style="padding: 20px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 my-auto h-100 text-center text-lg-left">
                    <ul class="list-inline mb-2"></ul>
                    <p class="text-muted small mb-4 mb-lg-0">Created by Kelompok A · © 2021 All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
	<script src="static/js/jquery.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>